.Choices{
    display: flex;
    flex: auto;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

.choice-button{
    margin: 5px;
    padding: 10px;
    width: 50%;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    background-color: transparent;
    transition-duration: 0.4s;
}
.choice-button:hover {
    background-color: antiquewhite;
    cursor: pointer;
    transition-duration: 0.4s;

}

.correct-button{
    background-color: rgb(0, 128, 0,0.5) !important;
    color:aliceblue;
}
.wrong-button{
    background-color: rgb(255, 0, 0, 0.5) !important;
    color:aliceblue;
}

button:disabled:hover{
    background-color: transparent;
    cursor:default;
}