.App {
  display: flex;
  justify-content: center;
  align-items: center;
}

.question{
  margin:5px
}
body{
  background-color: rgb(134, 35, 121);
  font-family: 'Courier New', Courier, monospace;
}
